asterism==0.5.2
autopep8==1.5
bagit==1.7.0
certifi==2019.11.28
chardet==3.0.4
clinner==1.12.3
colorlog==4.0
DateTime==4.3
Django==2.2.10
django-cron==0.5.1
django-elasticsearch-dsl==7.1.1
django-elasticsearch-dsl-drf==0.20.5
django-nine==0.2.3
django-silk==4.0.0
djangorestframework==3.11.0
elasticsearch==7.5.1
elasticsearch-dsl==7.1.0
ElectronBonder==0.7.2
gitdb==4.0.2
GitPython==3.1.0
gprof2dot==2019.11.30
health-check==3.4.1
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
multidict==4.7.5
odin==1.5.1
psycopg2-binary==2.8.4
pycodestyle==2.5.0
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
shortuuid==0.5.0
six==1.12.0
smmap==3.0.1
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.8
vcrpy==4.0.2
wrapt==1.12.0
yarl==1.4.2
zipp==3.0.0
zope.interface==4.7.1
git+https://github.com/RockefellerArchiveCenter/rac_es#egg=rac_es
