asterism==0.8
Django==4.0.4
django4-cron==0.5.1
djangorestframework==3.13.1
elasticsearch==7.17.0
elasticsearch-dsl==7.4.0
ElectronBonder==1.0
odin==1.7.3
psycopg2-binary==2.9.3
rac-es==0.18
requests==2.27.1
